<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$webkey[0]['word']}" />
<meta name="description" content="{$webkey[0]['description']}" />
<meta name="baidu-site-verification" content="8RGa3lawHP" />
<title>{$web[0]['webname']} - {$Powered}</title>
<link href="__PUBLIC__/home/css/base.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/index.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/media.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/admin/css/page.css">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<style>
  a{color:#769B09;}
</style>
</head>
<body>
<div class="ibody">
  <header>
    <h1>{$web[0]['webname']}</h1>
    <h2>{$web[0]['depict']}</h2>
    <div class="logo" style="background: url('{$logo[0]['pic']}') no-repeat scroll center center #000;position: absolute;z-index: 100;">
      <a href="{$web[0]['website']}" s="{$logo[0]['pic']}" class="jase"></a>
    </div>
    <nav id="topnav">
      <volist name="nav" id="nav">
      <a href="{$nav.linkaddress}">{$nav.designation}</a>
      </volist>
    </nav>
  </header>
  <article>
    <h2 class="about_h">您现在的位置是：<a href="{$web[0]['website']}">首页</a>><a href="{:U(Home.'/Section/index',array('id'=>$navname[0]['id']))}">{$navname[0]['designation']}</a></h2>
    <div class="bloglist">
        <volist name="essay" id="essay">
            <div class="blogs">
                <h3><a href="{:U(Home.'/News/index',array('id'=>$essay['id']))}">{$essay.title}</a></h3>
                <figure><img src="{$essay.pic}" /></figure>
                <ul>
                    <p>{$essay.content|msubstr=0,100}</p>
                    <a href="{:U(Home.'/News/index',array('id'=>$essay['id']))}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
                </ul>
                <p class="autor"><span>作者：{$essay.zuozhe}</span><span>分类：【<a href="{:U(Home.'/Section/index',array('id'=>$essay['cat_id']))}">{$essay.fenl}</a>】</span><span>浏览（<a href="javascript:;">{$essay.browse}</a>）</span></p>
                <div class="dateview">{$essay.time|date="Y-m-d",###}</div>
            </div>
        </volist>
    </div>
    
      <div class="pagination">{$page}</div>
   
  </article>
  <aside>
    <div class="rnav">
      <volist name="fenlie" id="fenlie" key="j">
      <li class="{$fenlie.yanse}"><a href="{:U(Home.'/Section/index',array('id'=>$fenlie['id']))}">{$fenlie.designation}</a></li>
      </volist>
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        <volist name="Clicks" id="Clicks" key="l">
        <li><span <if condition="$l eq 1">class="num1"<elseif condition="$l eq 2" />class="num2"<elseif condition="$l eq 3" />class="num3"<else /></if> >{$l}</span><a href="{:U(Home.'/News/index',array('id'=>$Clicks['id']))}">{$Clicks.title}</a></li>
        </volist>
      </ul>
      <h2>
        <p>推荐文章</p>
      </h2>
      <ul>
         <volist name="groom" id="groom">
         <li><a href="{:U(Home.'/News/index',array('id'=>$groom['id']))}">{$groom.title}</a></li>
        </volist>
      </ul>
      
      
      
    </div>
    <div class="copyright">
      <ul>
        <p> {$web[0]['copyright']}</a></p>
        <p>{$web[0]['number']}</p>
        </p>
      </ul>
    </div>
  </aside>
   <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
<script>
  $(function(){
      $('.jase').mouseenter(function(){
        $('.logo').css({"background":"url('__PUBLIC__/home/images/home.png') no-repeat scroll center center #000"});
      })
      $('.jase').mouseleave(function(){
        var pic = $(this).attr('s');
        $('.logo').css({"background":"url('__ROOT__/Uploads/logo/"+pic+"') no-repeat scroll center center #000"});

      })
  })
  $(document).ready(function(){  
    $(document).bind("contextmenu",function(e){   
          return false;   
    });
});
</script>
</html>
