<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>宇宙空间实验室</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="__PUBLIC__/admin/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/admin/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="__PUBLIC__/admin/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="__PUBLIC__/admin/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="__PUBLIC__/admin/css/main.css">
    <!-- Vector Map  -->
    <link rel="stylesheet" href="__PUBLIC__/admin/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css">
    <!-- ToDos  -->
    <link rel="stylesheet" href="__PUBLIC__/admin/plugins/todo/css/todos.css">
    <!-- Morris  -->
    <link rel="stylesheet" href="__PUBLIC__/admin/plugins/morris/css/morris.css">
    <!-- Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <!-- Feature detection -->
    <script src="__PUBLIC__/admin/js/modernizr-2.6.2.min.js"></script>
    <script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-all.js"></script>
    <script  charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
        <!--sidebar left start-->
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper" style="margin-left:0px;min-height:600px">
            <section id="main-content">
                <!--tiles start-->
                <!--tiles end-->
                <!--dashboard charts and map start-->
                
                <!--dashboard charts and map end-->
                <!--ToDo start-->
              <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">网站关键字添加</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal form-border" id="yfycms-form" method="post" enctype="multipart/form-data">
                                
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">网站关键字</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" name="word" value="{$list[0]['word']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">关键字描述</label>
                                        <div class="col-sm-6">
                                            <textarea id="editor_id" name="description"style="width:600px;height:400px;">{$list[0]['description']}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-6">
                                           <input type="hidden" id="idd" name="id" value="{$list[0]['id']}">
                                            <button type="button" class="btn btn-primary" id="yfycms-button-submit">更新</button>
                                        </div>
                                    </div>
                            
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
                        
                  
                   
                    
                </div>
                <!--ToDo end-->
            </section>
        </section>
        <!--main content end-->
        <!--sidebar right start-->
        <!--sidebar right end-->
    <!--Global JS-->
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/waypoints/waypoints.min.js"></script>
    <script src="__PUBLIC__/admin/js/application.js"></script>
        <script src="__PUBLIC__/jquery.js"></script>
        <script src="__PUBLIC__/dialog.js"></script>
        <script src="__PUBLIC__/admin/js/common.js"></script>
        <script src="__PUBLIC__/admin/dialog/layer.js"></script>
    <!--Page Level JS-->
    <script src="__PUBLIC__/admin/plugins/countTo/jquery.countTo.js"></script>
    <script src="__PUBLIC__/admin/plugins/weather/js/skycons.js"></script>
    <!-- FlotCharts  -->
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.resize.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.canvas.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.image.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.categories.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.crosshair.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.errorbars.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.fillbetween.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.navigate.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.pie.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.selection.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.stack.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.symbol.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.threshold.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.colorhelpers.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.time.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/flot/js/jquery.flot.example.js"></script>
    <!-- Morris  -->
    <script src="__PUBLIC__/admin/plugins/morris/js/morris.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/morris/js/raphael.2.1.0.min.js"></script>
    <!-- Vector Map  -->
    <script src="__PUBLIC__/admin/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="__PUBLIC__/admin/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
    <!-- ToDo List  -->
    <script src="__PUBLIC__/admin/plugins/todo/js/todos.js"></script>
    <!--Load these page level functions-->
    <script>
    $(document).ready(function() {
        app.timer();
        app.map();
        app.weather();
        app.morrisPie();
    });
    </script>
        <script>
            // 6.2
            KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id',{
                    //富文本编辑器上传图片的链接地址
                    uploadJson : 'admin.php?c=aboutus&a=kindupload',
                    //关键代码，表示当焦点离开后，把数据赋值给textarea
                    afterBlur : function(){this.sync();}, //
                });
            });
        </script>
        <script>
            var SCOPE={
                'save_url':'admin.php?c=keywords&a=save',
                'jump_url':'admin.php?c=keywords',
                'ajax_upload_image_url' : 'admin.php?c=aboutus&a=ajaxuploadimage',
                'ajax_upload_swf' : '__PUBLIC__/admin/plugins/uploadify/uploadify.swf',
            }
        </script>

</body>

</html>
